@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@400;700&family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
.header {
  background-color: #eff0f2;
  padding: 64px 0px;
  min-height: 100vh;
}

.header__content {
  height: -webkit-fill-available;
}

.header__logo {
  border: 6px solid #170f1c;
  padding: 2px 7px;
  width: 113px;
  height: 46px;
  text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
  color: #000000;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.02px;
}

.header__logo p {
  padding-top: 5px;
  padding-left: 6px;
}

.header__logo span {
  color: #77efe5;
  font-size: 21px;
  letter-spacing: 1.26px;
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 22px;
}

.header__burger:before, .header__burger:after, .header__burger span {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__title {
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
  color: #505050;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.header__title span {
  background-color: #76f4ea;
  opacity: 0.5;
}

.header__btn {
  color: rgba(0, 0, 0, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 10px;
  text-transform: uppercase;
  border-color: rgba(0, 0, 0, 0.5);
  border: 2px solid;
  border-radius: 2px;
  letter-spacing: 1.3px;
  padding: 20px 48px;
  margin: 0 auto;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header__btn:hover {
  cursor: pointer;
  background-color: #d6d6d670;
  border-color: rgba(0, 0, 0, 0.2);
}

.section-block {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-block--grey {
  background-color: #f9fbfb;
}

.section-block__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat;
}

.section-block__desc {
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Merriweather;
  padding-bottom: 130px;
}

.section-block__card {
  position: relative;
  z-index: 10;
}

.section-block__card--img::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.section-block__card-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-block__card-header {
  text-align: center;
  padding-top: 25px;
}

.section-block__card-desc {
  text-align: center;
  padding-top: 25px;
}

.section-block__card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us {
  background-color: #f8fafa;
}

.about-us__title {
  color: rgba(0, 0, 0, 0.9);
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2.28px;
  text-align: center;
  padding-top: 130px;
  margin-bottom: 18px;
}

.about-us__slider {
  z-index: 10;
}

.about-us__slider ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__slider ul button {
  font-size: 0;
  width: 10px;
  height: 10px;
  margin: 0px 3px;
  background-color: #d0d0d0;
  border-radius: 30%;
  border: none;
  outline: none;
  padding: 0;
}

.about-us__slider ul button:hover {
  background-color: #71f6eb;
}

.about-us__slider ul .slick-active button {
  background-color: #71f6eb;
  border: none;
}

.about-us__slider::before {
  content: '';
  width: 479px;
  height: 412px;
  border-radius: 3px;
  background-color: #ecedef;
  position: absolute;
  top: 25px;
  left: -35px;
  z-index: -1;
}

.about-us__slider img {
  width: 100%;
  outline: none;
}

.about-us__slider-item {
  outline: none;
}

.about-us__desc {
  color: rgba(0, 0, 0, 0.62);
  opacity: 0.62;
  color: #000000;
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 147px;
}

.about-us__content {
  padding-bottom: 114px;
}

.about-us__amazing-works {
  color: rgba(0, 0, 0, 0.75);
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 31px;
}

.about-us__text-desc {
  color: rgba(0, 0, 0, 0.74);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 38px;
}

.about-us__great {
  color: rgba(0, 0, 0, 0.75);
  font-family: Merriweather;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.02px;
  margin-bottom: 28px;
}

.feature-works {
  padding-top: 130px;
  padding-bottom: 125px;
}

.feature-works__title {
  opacity: 0.9;
  color: #000000;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2.28px;
  text-align: center;
  margin-bottom: 17px;
}

.feature-works__desc {
  color: rgba(0, 0, 0, 0.62);
  font-family: Merriweather;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.02px;
  text-align: center;
  margin-bottom: 122px;
}

.feature-works__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-works__card {
  padding: 7px;
}

.feature-works__card img {
  max-width: 100%;
}

.our-services {
  background-color: #f9fbfb;
  padding-top: 124px;
}

.our-services__card {
  position: relative;
  min-height: 350px;
  height: 100%;
  overflow: hidden;
}

.our-services__card::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.our-services__card.active .our-services__card-more {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.our-services__card-header {
  color: rgba(255, 255, 255, 0.95);
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.our-services__card-desc {
  color: rgba(255, 255, 255, 0.9);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.32px;
}

.our-services__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-services__card-body {
  position: relative;
  z-index: 2;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 100%;
  padding: 68px 55px;
}

.our-services__card-desc {
  margin-top: 28px;
  margin-bottom: 60px;
}

.our-services__card-btn {
  background: none;
  border: none;
  outline: none;
  /* Style for "Know More" */
  color: rgba(249, 251, 251, 0.9);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.72px;
}

.our-services__card-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

.our-services__card-btn img {
  margin-left: 15px;
}

.our-services__card-more {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #6df6eb;
  padding: 60px 50px;
  z-index: 5;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.our-services__card-desc-more {
  margin-top: 28px;
  margin-bottom: 26px;
}

.close-more-btn {
  position: relative;
  width: 22px;
  height: 22px;
  background-color: transparent;
  padding: 0;
}

.close-more-btn::before, .close-more-btn::after {
  position: absolute;
  left: 0;
  top: 9px;
  content: '';
  height: 2px;
  width: 20px;
  background-color: #333;
}

.close-more-btn::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-more-btn::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.row.gutters-services {
  margin: -6px;
}

.row.gutters-services > .col,
.row.gutters-services > [class*="col-"] {
  padding: 6px;
}

.small-team__card-user {
  position: relative;
  margin: 8px 0;
}

.small-team__card-user:hover .small-team__card-user-desc {
  opacity: 1;
}

.small-team__card-user img {
  width: 100%;
}

.small-team__card-user-desc {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  background-color: #6df6eb;
  -webkit-box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
          box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
  padding: 36px 25px;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.small-team__card-user-desc::after, .small-team__card-user-desc::before {
  content: '';
  position: absolute;
  background: #6df6eb;
  left: 20px;
  top: -11px;
  width: 20px;
  height: 20px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.small-team__user-name {
  font-weight: 900;
  font-size: 15px;
  color: rgba(39, 39, 39, 0.95);
  font-family: "Merriweather - Bold";
}

.small-team__user-name span {
  font-weight: 400;
  letter-spacing: 0.45px;
  font-family: "Merriweather - Regular";
  font-style: italic;
  color: rgba(118, 112, 112, 0.95);
}

.small-team__user-desc {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000000;
}

.small-team__user-links ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.small-team__user-links ul li {
  margin-right: 10px;
  width: 12px;
  height: 12px;
}

.slider-they-say {
  margin: 50px 0;
}

.slider-they-say__user-desc-slider {
  height: 100%;
  padding: 10px 0 70px;
}

.slider-they-say__user-desc-slider div {
  height: inherit;
}

.slider-they-say__user-desc-slider .slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  bottom: -20px;
  right: 0;
  outline: none;
  background-color: #fff;
}

.slider-they-say__user-desc-slider .slick-arrow:hover {
  cursor: pointer;
  background-color: #71f6eb;
}

.slider-they-say__user-desc-slider .slick-arrow:focus {
  outline: #00ffea;
}

.slider-they-say__user-desc-slider .slick-next {
  background-image: url("/assets/icons/next.svg");
  -webkit-box-shadow: 2px 6px 11px rgba(20, 20, 21, 0.1);
          box-shadow: 2px 6px 11px rgba(20, 20, 21, 0.1);
  opacity: 0.5;
}

.slider-they-say__user-desc-slider .slick-prev {
  background-image: url("/assets/icons/prev.svg");
  -webkit-box-shadow: 3px 7px 11px rgba(20, 20, 21, 0.05);
          box-shadow: 3px 7px 11px rgba(20, 20, 21, 0.05);
  right: 70px;
}

.slider-they-say__user-avatar {
  width: 100%;
  position: relative;
  z-index: 4;
}

.slider-they-say__user-avatar ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-they-say__user-avatar ul button {
  font-size: 0;
  width: 10px;
  height: 10px;
  margin: 0px 10px;
  background-color: #d0d0d0;
  border-radius: 30%;
  border: none;
  outline: none;
  padding: 0;
}

.slider-they-say__user-avatar ul button:hover {
  background-color: #71f6eb;
}

.slider-they-say__user-avatar ul .slick-active button {
  background-color: #71f6eb;
  border: none;
}

.slider-they-say__user-avatar::before {
  content: '';
  width: 393px;
  height: 362px;
  border-radius: 3px;
  background-color: #ecedef;
  position: absolute;
  top: 10px;
  left: -35px;
  z-index: -1;
}

.slider-they-say__user-avatar-image {
  outline: none;
}

.slider-they-say__about-user {
  padding: 20px 50px;
  background-color: #eaebed;
  outline: none;
}

.slider-they-say__user-name {
  font-family: "Merriweather - Bold";
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
}

.slider-they-say__user-name span {
  color: rgba(120, 120, 120, 0.95);
  font-family: "Merriweather - Regular";
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}

.slider-they-say__user-desc {
  margin-top: 30px;
  margin-bottom: 30px;
}

.slider-they-say__user-desc-slider .slick-list {
  padding: 0 !important;
}

.slider-they-say__user-stars .user-star {
  width: 16px;
  height: 16px;
  margin: 0 3px;
}

.slider-they-say__user-stars img {
  width: 100%;
}

.row.gutters-lg {
  margin-left: -40px;
  margin-right: -40px;
}

.row.gutters-lg > .col,
.row.gutters-lg > [class*="col-"] {
  padding-left: 40px;
  padding-right: 40px;
}

.row.gutters-team {
  margin-left: -8px;
  margin-right: -8px;
}

.row.gutters-team > .col,
.row.gutters-team > [class*="col-"] {
  padding-left: 8px;
  padding-right: 8px;
}

.company-info {
  -webkit-box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
          box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
  opacity: 0.71;
  background-image: url("/assets/img/contact_form_bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.copmpany-icons {
  margin: 100px 0px;
}

.copmpany-icons img {
  width: 100%;
}

.contact__block {
  background-color: rgba(2, 22, 35, 0.71);
  padding: 36px 20px 20px 20px;
  -webkit-box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
          box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
  font-size: 15px;
  height: 100%;
}

.contact__block input, .contact__block textarea {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  background-color: inherit;
  margin-top: 20px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.contact__block input::-webkit-input-placeholder, .contact__block textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact__block input:-ms-input-placeholder, .contact__block textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact__block input::-ms-input-placeholder, .contact__block textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact__block input::placeholder, .contact__block textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact__block input:focus, .contact__block textarea:focus {
  border-color: rgba(255, 255, 255, 0.8);
}

.contact__block input:focus::-webkit-input-placeholder, .contact__block textarea:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact__block input:focus:-ms-input-placeholder, .contact__block textarea:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact__block input:focus::-ms-input-placeholder, .contact__block textarea:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact__block input:focus::placeholder, .contact__block textarea:focus::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact__block p {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  padding-left: 8px;
}

.contact__block a {
  color: rgba(255, 255, 255, 0.7);
}

.contact__block a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.contact__block button {
  display: block;
  background-color: #6eeee4;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Montserrat;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 40px;
  border: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding: 20px 38px;
}

.contact__block button:hover {
  cursor: pointer;
  background-color: #97f9f1;
  color: #000000;
}

.contact__map {
  opacity: 1;
}

.contact__map iframe {
  width: 100%;
}

.the-footer {
  padding: 93px 0;
  background-color: #262b2e;
  color: rgba(255, 255, 255, 0.8);
  font-family: Raleway;
}

.the-footer__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
}

.the-footer__links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.the-footer__links img {
  width: 100%;
}

.the-footer__icons {
  width: 40px;
  height: 40px;
  background-color: rgba(138, 138, 138, 0.4);
  padding: 10px;
  margin-right: 8px;
  border: 0;
  outline: none;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.the-footer__icons:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: #71f6eb;
}

.the-footer__icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.the-footer__copyright {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.16px;
  color: rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=main.css.map */