.about-us {
  background-color: #f8fafa;

  // .about-us__title
  &__title {
    color: rgba($color: #000000, $alpha: .9);
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    text-align: center;
    padding-top: 130px;
    margin-bottom: 18px;
  }

  &__slider {
    z-index: 10;
    & ul {
      list-style: none;
      padding: 0;
      margin: 20px 0;
      display: flex;
      justify-content: center;

      & button {
        font-size: 0;
        width: 10px;
        height: 10px;
        margin: 0px 3px;
        background-color: #d0d0d0;
        border-radius: 30%;
        border: none;
        outline: none;
        padding: 0;

        &:hover {
          background-color: #71f6eb;
        }
      }

      .slick-active{
        & button{
          background-color: #71f6eb;
          border: none;
        }
      }
    }

    &::before {
    content: '';
    width: 479px;
    height: 412px;
    border-radius: 3px;
    background-color: #ecedef;
    position: absolute;
    top: 25px;
    left: -35px;
    z-index: -1;
    }

    img {
      width: 100%;
      outline: none;
    }
  }

  &__slider-item {
    outline: none;
  }

  // .about-us__desc
  &__desc {
    color: rgba($color: #000000, $alpha: .62);
    opacity: 0.62;
    color: #000000;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 147px;
  }

  // .about-us__content
  &__content {
    padding-bottom: 114px;
  }

  // .about-us__amazing-works
  &__amazing-works {
    color: rgba($color: #000000, $alpha: .75);
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 31px;
  }

  // .about-us__text-desc
  &__text-desc {
    color: rgba($color: #000000, $alpha: .74);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
    margin-bottom: 38px;
    }

  // .about-us__great
  &__great {
    color: rgba($color: #000000, $alpha: .75);
    font-family: Merriweather;
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    // Text style for "why we are"
    letter-spacing: 1.02px;
    margin-bottom: 28px;
  }
}
