.what-they-say {

  // .what-they-say__title

  &__title {
    // Style for "what they"
    width: 378px;
    height: 28px;
    opacity: 0.9;
    color: #000000;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    // Text style for "what they"
    letter-spacing: 2.28px;
  }

  // .what-they-say__desc

  &__desc {
    // Style for "Lorem ipsu"
    width: 583px;
    height: 14px;
    opacity: 0.62;
    color: #000000;
    font-family: Merriweather;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    // Text style for "L, orem ip"
    letter-spacing: 1.02px;
  }

  // .what-they-say__slider

  &__slider {
  }
}
.slide-1 {
}
